body {
  box-sizing: border-box;
  background-color: #fefaec;
  font-family: "Coda", cursive;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.heading {
  width: 100%;
  text-align: center;
  font-family: "Chewy", cursive;
  font-size: 6em;
  color: #eb4559;
}

.leader-board {
  margin-top: 1.8em;
  button {
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    background-color: #bfd8e1;
    border: 2px solid #066568;
    margin: 20px 0;
    color: #10375c;

    &:hover {
      cursor: pointer;
    }
  }
}

.game-template {
  top: 18em;
  border: 2px solid #d90591;
  background-color: #1f8ea3;
  width: 500px;
  text-align: center;
  margin: 2em auto;
  border-radius: 6px;
}

.player-welcome {
  padding: 2px;
  p {
    margin: 5px;
    font-size: 25px;
    line-height: 1.3em;
    color: #b7efcd;
  }
}

.level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;

  button {
    width: 100px;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 4px;
    outline: none;
    background-color: #05e3f1;
    border: 2px solid #ff4545;
    color: #1f076e;

    &:hover {
      cursor: pointer;
      background-color: #0ab3be;
      border: 2px solid #34fa0c;
    }
  }
}

.easy-level {
  margin-left: 1em;
}

.hard-level {
  margin-right: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #024249;
  width: 100%;
  text-align: center;
  font-size: 20px;

  p {
    padding: 10px;
    color: #ffffff;
  }
}
