// .wrapper {
//   background-color: #ccc;
// }

.data-shown {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-content: start;
  margin: 0 20px;
  margin-top: -6em;
}

.chart {
  background-color: #ffffff;
  padding-right: 0;
  border-radius: 6px;
  padding-bottom: 3em;
  box-shadow: 5px 7px 10px 1px #b2acac3d;

  header {
    color: black;
    font-weight: 500;
    font-size: 25px;
    padding: 10px 0;
    margin-left: 10px;
    margin-bottom: 2em;
    width: fit-content;
    border-bottom: 2px dashed #cac8c8;
  }
}

.lang-chart {
  width: 400px;
}

.repo-chart {
  width: 350px;
}

.star-lang-chart {
  width: 400px;
}

.no-chart {
  color: rgb(97, 95, 95);
  margin-top: -10px;
  margin-left: 30px;
  font-size: 20px;
}

@media only screen and (max-width: 420px) {
  @import "../media-query/chartMobileMediaQuery.scss";
}

@media only screen and (min-width: 421px) and (max-width: 768px) {
  @import "../media-query/chartTabQuery.scss";
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .data-shown {
    grid-template-columns: repeat(2, 1fr);
  }

  .lang-chart {
    width: 370px;
  }

  .repo-chart {
    width: 370px;
  }

  .star-lang-chart {
    width: 370px;
  }
}
