.repo-details {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 20px;
}

.sort-repo {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 40px 0;

  p {
    margin-right: 20px;
  }
  em {
    font-size: 40px;
    margin-right: 10px;
    border-bottom: 2px dashed gray;
  }

  select {
    border-radius: 4px;
    outline: none;
    width: 100px;
    height: 35x;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }

  option {
    font-size: 16px;
  }
}

.repos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto);
  grid-gap: 20px;
}

.repo {
  width: 375px;
  height: 175px;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  border-radius: 4px;
  color: black;
}

.repo-link {
  margin: 2em 0 0 1em;
  color: #4d4949;

  a {
    text-decoration: none;
    color: black;
    font-family: "Fira Mono", "Roboto Mono", monospace;
    margin-left: 10px;
    font-size: 20px;
  }
}

.description {
  font-size: 14px;
  margin: 10px;
}

.display-stat {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  color: #4d4949;
  font-size: 13px;
}

.language {
  display: flex;
  margin-left: 20px;
  align-items: center;
  p {
    margin-left: 5px;
  }
}

.language-color {
  display: block;
  width: 10px;
  height: 10px;
  // border: 1px solid blue;
  border-radius: 50%;
}

.size {
  margin-right: 20px;
}

.fa-star {
  margin-right: 5px;
}

.fa-code-branch {
  margin-right: 5px;
}
