.repo-details {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: rgb(246, 248, 250);
}

.sort-repo {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 40px 0;

  p {
    margin-right: 20px;
    color: gray;
  }
  em {
    font-size: 40px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed #cac8c8;
    color: black;
  }

  select {
    border-radius: 4px;
    outline: none;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 6px 6px 6px gray;
  }

  option {
    font-size: 16px;
  }
}

.flipper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto);
  grid-gap: 30px;
}

.repo {
  width: 375px;
  height: 175px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 6px 7px 0 #8d8a8a38;
  border-radius: 4px;
  color: black;
}

.repo-link {
  margin: 2em 0 0 1em;
  color: #4d4949;

  a {
    text-decoration: none;
    color: black;
    font-family: "Fira Mono", "Roboto Mono", monospace;
    margin-left: 10px;
    font-size: 20px;
  }
}

.description {
  font-size: 14px;
  margin: 10px;
}

.display-stat {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  color: #4d4949;
  font-size: 13px;
}

.language {
  display: flex;
  margin-left: 20px;
  align-items: center;
  p {
    margin-left: 5px;
  }
}

.language-color {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.size {
  margin-right: 20px;
}

.fa-star {
  margin-right: 5px;
}

.fa-code-branch {
  margin-right: 5px;
}

@media only screen and (max-width: 420px) {
  @import "../media-query/repoDetailsMobileQuery.scss";
}

@media only screen and (min-widht: 421px) and (max-width: 768px) {
  @import "../media-query/repoDetailsTabQuery.scss";
}
