@import "./Theme.scss";

.container-user {
  font-family: "Inter", sans-serif;
  background-color: rgb(246, 248, 250);
  min-height: 100vh;
  color: #ccc;
}

.no-user,
.no-internet,
.limit-exceed {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;

  .fa-github {
    margin-top: -1em;
    transition: 0.4s;
  }

  h1 {
    margin: 1em 0;
    font-size: 35px;
    font-weight: 600;
  }

  p {
    font-size: 20px;
  }
}

.limit-exceed {
  a {
    color: #00909e;
  }
}

.requests {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 300;
  color: #5d5b5b;
  h1 {
    font-size: 12px;
    color: #5d5b5b;
  }
  p {
    font-size: 18px;
    color: #a3a1a1;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
