.data-shown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.lang-chart {
  padding-right: 10px;
  width: 300px;
}

.repo-chart {
  padding-right: 10px;
  width: 300px;
}

.star-lang-chart {
  padding-right: 10px;
  width: 300px;
}

@media only screen and (max-width: 670px) {
  .data-shown {
    display: flex;
    flex-direction: column;
  }

  .lang-chart {
    width: 350px;
  }

  .repo-chart {
    width: 350px;
  }

  .star-lang-chart {
    width: 350px;
  }
}
