.search-profile {
  h1 {
    font-size: 30px;
  }

  input {
    font-size: 30px;
    height: 50px;
    border-radius: 6px;
  }
}

.switch {
  height: 25px;
}

.ckbox {
  width: 13px;
  height: 13px;
}
