.user-info {
  padding-bottom: 5em;
}

.user-name {
  font-size: 28px;
  font-weight: 400;

  h1 {
    margin: 15px 0;
  }

  a {
    font-size: 25px;
    margin: 20px;
  }
}

.status {
  flex-direction: column;

  div {
    margin: 8px 0;
  }
}

.stat {
  flex-direction: column;
  margin-top: 0.5em;
  width: 80%;

  div {
    width: 100%;
    margin: 10px auto;
  }
}
